body {
  background-color: #f3f1f1;
}
/* search bar styling */
#myInput {
  display: block;
  padding: 6px 10px;
  margin-top: 8px;
  margin-left: 8px;
  background: #ddd;
  font-size: 17px;
  border: 0.5px solid rgb(126, 126, 126);
  border-radius: 5px;
  color: #011640;
}

/*----------START OF BOXES----------*/

.stats a{
  color: transparent;
}

.stat-box {
  margin: 0 auto;
  width: 20em;
  height: 9em;
  background-color: #011640;
  border-radius: 5%;
  box-shadow: 10em;
}

.stat-box img {
  width: 90%;
  height: 100%;
  padding-top: 1em;
}

.stats h3{
  color: white;
}

/*-- MEDIA QUERIES FOR STAT BOXES --*/

@media (max-width: 1500px) {
  .stat-box {
    margin: 0 auto;
    width: 18em;
    height: 9em;
    background-color: #011640;
    border-radius: 5%;
    box-shadow: 10em;
  }
  .stat-box img {
    width: 90%;
    height: 100%;
    padding-top: 1.5em;
  }
}

@media (max-width: 1100px) {
  .stat-box {
    margin: 0 auto;
    width: 15em;
    height: 7em;
    background-color: #011640;
    border-radius: 5%;
    box-shadow: 10em;
  }
  .stat-box img {
    width: 90%;
    height: 95%;
    padding-top: 1.25em;
  }
  h3{
    font-size: 23px;
  }
}

@media (max-width: 864px) {
  .stat-box {
    margin: 0 auto;
    width: 13em;
    height: 7em;
    background-color: #011640;
    border-radius: 5%;
    box-shadow: 10em;
  }
  .stat-box img {
    width: 90%;
    height: 100%;
    padding-top: 1.4em;
  }
  h3{
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .stat-box {
    margin: 0 auto;
    width: 13em;
    height: 7em;
    background-color: #011640;
    border-radius: 5%;
    box-shadow: 10em;
    margin-bottom: 2em;
  }
  .stat-box img {
    height: 0px;
    width: 0px;
  }
  h3{
    font-size: 20px;
  }
}

/*----------START OF TABLE----------*/

.content h3 {
  color: white;
}

.content p {
  font-size: 1.25em;
  color: white;
}

.content hr {
  border-color: white;
  width: 50%;
}

.content-table {
  border-collapse: collapse;
  font-size: 20px;
  min-width: 1000px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #011640;
  color: #fff;
  text-align: left;
  font-weight: bold;
  font-size: 25px;
}

.content-table th,
.content-table td
 {
  padding: 12px, 15px;
}

.content-table tbody tr
{
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even){
  background-color: #5f9ea0;
}

.content-table tbody tr:last-of-typ {
  border-bottom: 2px solid #011640;
}

.content-table tbody td {
  color: #011640;
}

.content-table a
{
  color: #011640;
}

/*----------END OF TABLE----------*/







