.img{
    color: red;
    width: 3em;
    height: 3em;
}
@media only screen and (max-width: 500px) {
    .top-part.container {
      background-color: red;
    }
  }
  .user-box{
      margin: 0 auto;
      width: 50em;
      background-color: aqua;
  }
  .table{
      margin: 0 auto;
  }
  td, th {
    border: 1px solid #050505;
    
  }
  td{
    text-align: left;
    padding-right: 7em;
  }
  th{
    padding-left:3em;
    padding-right:3em;
    padding-top:1em;
    padding-bottom:1em;
    
  }

  