.contact-section{
	margin-top:100px;
	/*background: url(images/dreamstime_xxl_124673889.jpg) no-repeat center;*/
	background-size: cover;
	padding: 40px 0;
}

.contact-section h1{
	text-align: center;
	color: black;
	font-size: 80px;
}

.border{
	width: 100px;
	height: 10px;
	background: #fff;
	margin: 240px auto;
}

.contact-form{
	max-width: 600px;
	margin: auto;
	padding: 0 10px;
	overflow: hidden;
}

.contact-form-text{
	display:block;
	width: 100%;
	box-sizing: border-box;
	margin: 16px 0;
	border: 0;
	background: #111;
	padding: 20px 40px;
	outline: none;
	color: #ddd;
	transition: 0.5s;
}

.contact-form-text:hover{
	box-shadow: 0 0 10px 4px cyan;
}

textarea.contact-form-text{
	resize: none;
	height: 200px;
}

.contact-form-btn{
	float: right;
	border: 0;
	background: #fff;
	color: #fff;
	padding: 12px 50px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.5s;
}

.contact-form-btn:hover{
	background: #2980b9;
}









