
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
	max-width: 100%;
  }
.foo {
	width: 100%;
	object-fit: cover;
	height: 100vh;
	background-image: radial-gradient(
			circle,
			rgba(123, 122, 145, 0.6166841736694677) 0%,
			rgba(0, 0, 66, 0.5270483193277311) 32%,
			rgba(1, 0, 51, 0.7679446778711485) 100%
		),
		url("./images/films.webp");
		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
}

.description {
	margin-top: 2em;
}

.title {
	margin-bottom: 1em;
}

.bottom {
	margin-bottom: 4em;
}
.imgtitle {
	color: white;
	font-size: 6.25em;
  }
  
  body {
	background: #5f8594;
  }
  
  p {
	color: #011640;
	font-size: 20px;
  }
  
  h3,
  h2 {
	color: white;
  }
  

  #titlecrl {
	color: coral;
  }
  
  .wht {
	color: white;
  }
  
  .infobtn {
	font-size: 1.5rem;
	padding: 0.5rem 1rem;
	transition-duration: 0.5s;
	border-radius: 0%;
  }
  
  .infobtn:hover {
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
  }
  
  .infostart {
	width: 100%;
	height: 50%;
	margin: auto;
	position: relative;
	top: 17%;
  }
  

@media only screen and (max-width: 93.75em) {
	.imgtitle {
	  font-size: 5.5em;
	}
	.wht {
	  font-size: 1.8em;
	}
  }
  
  @media only screen and (max-width: 83.125em) {
	.imgtitle {
	  font-size: 5em;
	}
	.wht {
	  font-size: 1.5em;
	}
  }
  
  @media only screen and (max-width: 75em) {
	.imgtitle {
	  font-size: 4.5em;
	}
	.wht {
	  font-size: 1.2em;
	}
  }
  
  @media only screen and (max-width: 65.625em) {
	.imgtitle {
	  font-size: 4em;
	}
	.wht {
	  font-size: 1.2em;
	}
  }
  
  @media only screen and (max-width: 59.6875em) {
	.imgtitle {
	  font-size: 3.5em;
	}
	.wht {
	  font-size: 0.9em;
	}
  }
  @media only screen and (max-width: 50em) {
	.imgtitle {
	  font-size: 3em;
	}
	.wht {
	  font-size: 0.9em;
	}
  }
  
  @media only screen and (max-width: 34.375em) {
	.imgtitle {
	  font-size: 2.3em;
	}
	.wht {
	  font-size: 0.7em;
	}
  }
  @media only screen and (max-width: 27em) {
	.imgtitle {
	  font-size: 2em;
	}
	.wht {
	  font-size: 0.6em;
	}
  }
  
  @media only screen and (max-width: 23.75em) {
	.imgtitle {
	  font-size: 1.8em;
	}
	.wht {
	  font-size: 0.6em;
	}
  }
  
  @media only screen and (max-width: 325px) {
	.imgtitle {
	  font-size: 1.3em;
	}
	.wht {
	  font-size: 0.5em;
	}
  }