*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins';
}
.container{
	width: 100%;
	height: 150%;
	font-family: sans-serif;
	background: rgb(187, 187, 245);
	color: #fff;
	margin-bottom: 0px;
}
.card{
	width: 400px;
	height: 720px;
	margin-left: 35%;
	prespective: 1000px;
}
.inner-box{
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 1s;
}
.card-front, .card-back{
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-image: linear-gradient(rgba(0,0,100,0.8), rgba(0,0,100,0.8)),url(photo3.jpg);
	padding: 55px;
	box-sizing:border-box;
	backface-visibility: hidden;
}
.card-back{
	transform: rotateY(180deg);
}
.card h3{
	font-weight: normal;
	font-size: 24px;
	text-align: center;
	margin-bottom: 20px;
}
.input-box{
	width: 100%;
	background: transparent;
	border: 1px solid #fff;
	margin: 6px 0;
	height: 32px;
	border-radius: 20px;
	padding: 0 10px;
	box-sizing: border-box;
	outline: none;
	text-align: center;
	color: #fff;
}
::placeholder{
	color: #fff;
	font-size: 12px;
}
button{
	width: 100%;
	background: transparent;
	border: 1px solid #fff;
	margin: 35px 0 10px;
	height: 32px;
	font-size: 12px;
	border-radius: 20px;
	padding: 0 10px;
	box-sizing: border-box;
	outline: none;
	color: #fff;
	cursor: pointer;
}
.submit-btn{
	position: relative;
}
.submit-btn::after{
	content: '\27a4';
	color: cyan;
	line-height: 32px;
	font-size: 17px;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	right: -1px;
	top: -1px;
}
span{
	font-size: 13px;
	margin-left: 10px;
}
.card .btn{
	margin-top: 70px;
}
.card a{
	color: #fff;
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 13px;
	margin-top: 8px;
}