@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #5f8594;
  align-items: center;
}

h2 {
  color: #011640;
}

p {
  color: #011640;
}

/*---------START of SLIDER--------*/

.prim-color {
  color: coral;
}

.img-slider {
  display: block;
  position: relative;
  width: 100%;
  height: 97vh;
  margin: 0px;
  background: #1d212b;
  overflow: hidden;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  height: 100vh;
  width: 100%;
  /*border-radius: 5px;*/
  filter: opacity(0.7);
}

.img-slider .slide .info {
  position: absolute;
  top: 30%;
  text-align: center;
  width: 100%;
}

.img-slider .slide .info h2 {
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 100px;
  font-weight: 500;
  text-align: center;

  margin-bottom: 0;
}

/*----------START of BUTTON LEARN MORE--------*/
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 40px;
  padding: 12px 34px;
  font-size: 20px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  color: #fff;
  transition: 1s;
}
/*----------END of BUTTON LEARN MORE--------*/

.img-slider .slide .info p {
  color: #fff;
  /* background: rgba(0, 0, 0, 0.1); */
  font-size: 30px;
  width: 100%;
  border-radius: 4px;
  text-align: center;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  margin-top: 80vh;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn {
  background: rgba(255, 255, 255, 0.5);
  width: 50px;
  height: 5px;
  margin: 20px;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #fefefe;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
  .img-slider {
    width: 100%;
    height: 375px;
  }

  .img-slider .slide .info {
    padding: 50px 50px;
  }

  .img-slider .slide .info h2 {
    font-size: 70px;
    padding-top: 30px;
  }

  .img-slider .slide .info p {
    width: 100%;
    font-size: 15px;
  }

  .img-slider .navigation {
    bottom: 25px;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 820px) {
  .img-slider {
    width: 100%;
    height: 375px;
  }

  .img-slider .slide .info {
    padding: 50px 50px;
  }

  .img-slider .slide .info h2 {
    font-size: 60px;
    padding-top: 10px;
  }

  .img-slider .slide .info p {
    width: 100%;
    font-size: 15px;
  }

  .img-slider .navigation {
    bottom: 25px;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px) {
  .img-slider {
    width: 100%;
    height: 250px;
  }

  .img-slider .slide .info {
    padding: 10px 20px;
  }

  .img-slider .slide .info h2 {
    font-size: 30px;
    padding-top: 20px;
  }

  .img-slider .slide .info p {
    font-size: 13px;
  }

  .img-slider .navigation {
    bottom: 15px;
  }

  .img-slider .navigation .btn {
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px) {
  .img-slider {
    width: 100%;
    height: 250px;
  }
  .img-slider .slide img {
    height: 250px;
  }

  .img-slider .slide .info {
    padding: 5px 10px;
  }
  .img-slider .slide .info .hero-btn {
    margin: 30px;
    font-size: 10px;
    padding: 10px 20px;
  }

  .img-slider .slide .info h2 {
    padding-top: 10px;
    font-size: 35px;
  }

  .img-slider .slide .info p {
    width: 100%;
    font-size: 13px;
    text-align: center;
    padding: 5px;
  }

  .img-slider .navigation {
    bottom: 10px;
  }
}

@media (max-width: 320px) {
  .img-slider {
    width: auto;
    height: 250px;
  }

  .img-slider .slide .info {
    padding: 5px 10px;
  }

  .img-slider .slide .info h2 {
    font-size: 30px;
    padding-top: 10px;
  }

  .img-slider .slide .info p {
    width: 90%;
    margin: auto;
    font-size: 11px;
  }

  .img-slider .navigation {
    bottom: 10px;
  }
}

/*---------END of SLIDER--------*/

/*---------START OF QOUTE--------


---------END OF QOUTE--------*/

.content1 {
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text {
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p {
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer {
  position: relative;
  width: 100%;
  background: #000714;
}
footer h2,
footer div,
footer p {
  color: #fff;
}

.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 30px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #fff;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p {
  text-align: justify;
  color: #fff;
}
.social {
  margin: 20px 0 0 0;
}
.social a {
  padding: 0 2px;
}
.social a span {
  height: 40px;
  width: 40px;
  background: #042e82;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.social a span:hover {
  background: cyan; /*#f12020*/
}
.content .fa {
  font-size: 1.4375rem;
  background: #042e82;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.content .fa:hover {
  background: #f12020;
}
.content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.content .phone {
  margin: 15px 0;
}
footer form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #fff;
}
footer form .msg {
  margin-top: 15px;
}
footer form input form textarea {
  /*email και  κείμενο*/
  width: 100%;
  font-size: 1.0625rem;
  background: #fff;
  padding-left: 10px;
  border: 1px solid #222222;
  color: #011640;
}
footer form input:focus,
footer form textarea:focus {
  outline-color: #3498db;
}
footer form input {
  height: 35px;
}
footer form .btn {
  margin-top: 10px;
}
footer form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #042e82;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
footer form .btn button:hover {
  background: #f12020;
}
footer center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span {
  color: #656565;
}
.bottom center a {
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}

.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #204959;
  bottom: 50px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 22px;
  border-radius: 100%;
}

.gotopbtn:hover {
  background: #7ba6a1;
}

.aristotle img {
  max-height: 15em;
}

.quote {
  margin-top: 40px;
  margin-left: 30px;
  font-size: 20px;
  color: #ddd;
}

.quote cite {
  font-size: 30px;
  color: #fff;
}

footer .row > div {
  margin-top: 30px;
}

/* Information Page Styling */

.info-container {
  position: relative;
  text-align: center;
}

.info-img {
  display: block;
}

.centeredinfotext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #011649;
  font-size: 2.8vw;
  font-weight: bold;
  text-shadow: 0px 0px 10px white, 0px 0px 10px white, 0px 0px 9px white;
}

.post-container {
  display: flex;
  overflow: auto;
}

.post-thumb {
  float: left;
}

.post-thumb img {
  width: 30vw;
}

.post-content {
  margin-left: 2vh;
}

.post-title {
  font-weight: bold;
  font-size: 2vw;
  color: black;
}

.startofpage {
  margin-top: 3em;
  font-size: 1.3rem;
  margin-bottom: 3em;
}
.blockquote p {
  color: white;
  font-size: 2em;
}
.blq {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.5);
}

.startofpage h3 {
  font-size: 2rem;
}

.aristotle {
  width: 100%;
  object-fit: cover;

  background-image: radial-gradient(
      circle,
      rgba(123, 122, 145, 0.6166841736694677) 0%,
      rgba(0, 0, 66, 0.5270483193277311) 32%,
      rgba(1, 0, 51, 0.7679446778711485) 100%
    ),
    url("/images/landscape.webp");

  /* Set a specific height */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1202px) {
  .img-slider .slide img {
    height: 100% !important;
  }

  .img-slider .slide .info {
    position: absolute;
    top: 0;
    text-align: center;
    transform: unset !important;
    left: unset;
  }
}
