* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif; /*Γραμματοσειρά*/
}

body {
  background-color: #f2f0d0;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(book_pic.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  background: #011640;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
}

nav img {
  /* Μέγεθος του λογότυπου πάνω αριστερά*/
  width: 120px;
}

.nav-links {
  /*Θέση μενού πάνω δεξιά*/
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  /*Στυλ λίστας*/
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  /*Χρώμα μενού-λινκ και μέγεθος*/
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
  color: #fff;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}

/*------Qoute-------*/
.quote {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.quote .img {
  width: 20px;
}
h1 {
  font-size: 40px;
  font-weight: 300;
}

p {
  color: #777;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  padding: 25px;
  margin: 10px;
}
p1 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.description-conteiner {
  max-width: 1000px;
  margin: 0px auto 100;
  padding: 100px;
}

.description-conteiner p {
  text-align: justify;
}

.description-conteiner .floating-image {
  max-width: 500px;
}

.description-conteiner .floating-image.right {
  float: right;
  margin-left: 100px;
  margin-bottom: 100px;
}

.description-conteiner .floating-image.left {
  float: left;
  margin-right: 100px;
  margin-bottom: 10px;
}

/*-------FOOTER---------*/

footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #011640;
}
.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 70%;
  padding: 10px 50px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #fff;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: #f12020;
}
.center .content .fas {
  font-size: 1.4375rem;
  background: #fff;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: #f12020;
}
.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  color: #fff;
}
.center .content .phone {
  margin: 15px 0;
}
.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #fff;
}
.right form .msg {
  margin-top: 10px;
}
.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #fff;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus {
  outline-color: #3498db;
}
.right form input {
  height: 35px;
}
.right form .btn {
  margin-top: 10px;
}
.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.right form .btn button:hover {
  background: #000;
}
.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span {
  color: #656565;
}
.bottom center a {
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}
