@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #f2f0d0;
  align-items: center;
}

h2 {
  color: #011640;
}

p {
  color: #011640;
}

/*----------START of MENU-----------*/
nav {
  background: #204959;
}
nav:after {
  content: "";
  clear: both;
  display: table;
}
nav .logo {
  float: left;
  color: white;
  font-size: 30px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
  margin-top: 10px;
}
nav ul {
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
  z-index: 100;
  margin-top: 10px;
}
nav ul li {
  float: left;
  display: inline-block;
  background: #204959;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 15px;
  padding: 8px 15px;
}
nav ul li a:hover {
  color: cyan;
  border-radius: 20px;
  box-shadow: 0 0 5px #33ffff, 0 0 10px #66ffff;
}
nav ul ul li a:hover {
  box-shadow: none;
}
nav ul ul {
  position: absolute;
  top: 90px;
  border-top: 2px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top 0.5s;
}
nav ul ul ul {
  border-top: none;
}
nav ul li:hover > ul {
  top: 50px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul ul li a {
  line-height: 50px;
}
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 150px;
}
.show,
.icon,
input {
  display: none;
}
.fa-plus {
  font-size: 15px;
  margin-left: 40px;
}

@media all and (max-width: 968px) {
  nav ul {
    margin-right: 0px;
    float: left;
  }
  nav .logo {
    padding-left: 80px;
    width: 100%;
  }
  .show + a,
  ul {
    display: none;
  }
  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }
  nav ul li a:hover {
    box-shadow: none;
  }
  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover {
    color: cyan;
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0px;
    right: 80px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a {
    padding-left: 40px;
  }
  nav ul ul ul a {
    padding-left: 80px;
  }
  nav ul ul ul li {
    position: static;
  }
  [id^="btn"]:checked + ul {
    display: block;
  }
  nav ul ul li {
    border-bottom: 0px;
  }
  span.cancel:before {
    content: "\f00d";
  }
}

@media all and (max-width: 419px) {
  nav ul {
    margin-right: 0px;
    float: left;
  }
  nav .logo {
    padding-left: 10px;
    width: 100%;
  }
  .show + a,
  ul {
    display: none;
  }
  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }
  nav ul li a:hover {
    box-shadow: none;
  }
  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover {
    color: cyan;
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0px;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a {
    padding-left: 40px;
  }
  nav ul ul ul a {
    padding-left: 80px;
  }
  nav ul ul ul li {
    position: static;
  }
  [id^="btn"]:checked + ul {
    display: block;
  }
  nav ul ul li {
    border-bottom: 0px;
  }
  span.cancel:before {
    content: "\f00d";
  }
}
@media all and (max-width: 367px) {
  nav ul {
    margin-right: 0px;
    float: left;
  }
  nav .logo {
    padding-left: 30px;
    width: 100%;
  }
  .show + a,
  ul {
    display: none;
  }
  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }
  nav ul li a:hover {
    box-shadow: none;
  }
  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover {
    color: cyan;
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0px;
    right: 10px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a {
    padding-left: 40px;
  }
  nav ul ul ul a {
    padding-left: 80px;
  }
  nav ul ul ul li {
    position: static;
  }
  [id^="btn"]:checked + ul {
    display: block;
  }
  nav ul ul li {
    border-bottom: 0px;
  }
  span.cancel:before {
    content: "\f00d";
  }
}
/*----------END of MENU-----------*/

/*---------START of SLIDER--------*/
.img-slider {
  display: block;
  position: relative;
  width: 100%;
  height: 850px;
  margin: 0px;
  background: #1d212b;
  overflow: hidden;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
  /*border-radius: 5px;*/
  filter: blur(3px);
}

.img-slider .slide .info {
  position: absolute;
  top: 0;
  padding: 15px 30px;
  width: 100%;
  text-align: center;
}

.img-slider .slide .info h2 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 300px;
  padding-bottom: 10px;
}

/*----------START of BUTTON LEARN MORE--------*/
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background: cyan;
  transition: 1s;
}
/*----------END of BUTTON LEARN MORE--------*/

.img-slider .slide .info p {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
  text-align: center;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  margin-top: 45%;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn {
  background: rgba(255, 255, 255, 0.5);
  width: 50px;
  height: 5px;
  margin: 20px;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #011640;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
  .img-slider {
    width: 100%;
    height: 375px;
  }

  .img-slider .slide .info {
    padding: 50px 50px;
  }

  .img-slider .slide .info h2 {
    font-size: 35px;
    padding-top: 30px;
  }

  .img-slider .slide .info p {
    width: 100%;
    font-size: 15px;
  }

  .img-slider .navigation {
    bottom: 25px;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 820px) {
  .img-slider {
    width: 100%;
    height: 375px;
  }

  .img-slider .slide .info {
    padding: 50px 50px;
  }

  .img-slider .slide .info h2 {
    font-size: 35px;
    padding-top: 10px;
  }

  .img-slider .slide .info p {
    width: 100%;
    font-size: 15px;
  }

  .img-slider .navigation {
    bottom: 25px;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px) {
  .img-slider {
    width: 100%;
    height: 250px;
  }

  .img-slider .slide .info {
    padding: 10px 20px;
  }

  .img-slider .slide .info h2 {
    font-size: 30px;
    padding-top: 20px;
  }

  .img-slider .slide .info p {
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation {
    bottom: 15px;
  }

  .img-slider .navigation .btn {
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px) {
  .img-slider {
    width: 111%;
    height: 200px;
  }

  .img-slider .slide .info {
    padding: 5px 10px;
  }

  .img-slider .slide .info h2 {
    padding-top: 10px;
    font-size: 25px;
  }

  .img-slider .slide .info p {
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation {
    bottom: 10px;
  }
}

@media (max-width: 320px) {
  .img-slider {
    width: auto;
    height: 200px;
  }

  .img-slider .slide .info {
    padding: 5px 10px;
  }

  .img-slider .slide .info h2 {
    font-size: 25px;
    padding-top: 10px;
  }

  .img-slider .slide .info p {
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation {
    bottom: 10px;
  }
}

/*---------END of SLIDER--------*/

/*---------START OF QOUTE--------


---------END OF QOUTE--------*/

.content1 {
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text {
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p {
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer {
  position: relative;
  bottom: -100px;
  width: 100%;
  background: #000714;
}
footer h2,
footer div,
footer p {
  color: #fff;
}

.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 30px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #fff;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p {
  text-align: justify;
  color: #fff;
}
.social {
  margin: 20px 0 0 0;
}
.social a {
  padding: 0 2px;
}
.social a span {
  height: 40px;
  width: 40px;
  background: #042e82;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.social a span:hover {
  background: cyan; /*#f12020*/
}
.content .fa {
  font-size: 1.4375rem;
  background: #042e82;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.content .fa:hover {
  background: #f12020;
}
.content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.content .phone {
  margin: 15px 0;
}
footer form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #fff;
}
footer form .msg {
  margin-top: 15px;
}
footer form input form textarea {
  /*email και  κείμενο*/
  width: 100%;
  font-size: 1.0625rem;
  background: #fff;
  padding-left: 10px;
  border: 1px solid #222222;
  color: #011640;
}
footer form input:focus,
footer form textarea:focus {
  outline-color: #3498db;
}
footer form input {
  height: 35px;
}
footer form .btn {
  margin-top: 10px;
}
footer form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #042e82;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
footer form .btn button:hover {
  background: #f12020;
}
footer center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span {
  color: #656565;
}
.bottom center a {
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}

.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #204959;
  bottom: 50px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 22px;
  border-radius: 100%;
}

.gotopbtn:hover {
  background: #7ba6a1;
}

.aristotle {
  position: relative;
  background-color: #011640;
  color: #fff;
  min-height: 200px;
}
.aristotle img {
  max-height: 180px;
}

.quote {
  font-size: 20px;
  color: #ddd;
}

.quote cite {
  font-size: 50px;
  color: #fff;
}

footer .row > div {
  margin-top: 30px;
}




/* Information Page Styling */

.info-container{
  position:relative;
  text-align: center;
}

.info-img{

  display: block;
}

.centeredinfotext{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#011649;
  font-size: 2.8vw;
  font-weight: bold;
  text-shadow: 0px 0px 10px white, 0px 0px 10px white, 0px 0px 9px white;
}

.post-container{
  display: flex;
  overflow: auto ;
}

.post-thumb{
  float: left;
}

.post-thumb img{
 
  width: 30vw;
}

.post-content{
  margin-left: 2vh;
  
}

.post-title{
  
  font-weight: bold;
  font-size: 2vw;
  color: black;
}
