html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #2b5f74;
  align-items: center;
}

h2 {
  color: #011640;
}

p {
  color: #011640;
}

/*----------START of MENU-----------*/
nav {
  background: #204959;
}
nav:after {
  content: "";
  clear: both;
  display: table;
}
nav .logo {
  float: left;
  color: white;
  font-size: 30px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
  margin-top: 10px;
}
nav ul {
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
  z-index: 100;
  margin-top: 10px;
}
nav ul li {
  display: inline-block;
  background: #204959;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 15px;
  padding: 8px 15px;
}
nav ul li a:hover {
  color: cyan;
  border-radius: 20px;
  box-shadow: 0 0 5px #33ffff, 0 0 10px #66ffff;
}
nav ul ul li a:hover {
  box-shadow: none;
}
nav ul ul {
  position: absolute;
  top: 90px;
  border-top: 2px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top 0.5s;
}
nav ul ul ul {
  border-top: none;
}
nav ul li:hover > ul {
  top: 50px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul ul li a {
  line-height: 50px;
}
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 150px;
}
.show,
.icon,
input {
  display: none;
}
.fa-plus {
  font-size: 15px;
  margin-left: 40px;
}

@media all and (max-width: 968px) {
  nav ul {
    margin-right: 0px;
    float: left;
  }
  nav .logo {
    padding-left: 80px;
    width: 100%;
  }
  .show + a,
  ul {
    display: none;
  }
  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }
  nav ul li a:hover {
    box-shadow: none;
  }
  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover {
    color: cyan;
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0px;
    right: 80px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a {
    padding-left: 40px;
  }
  nav ul ul ul a {
    padding-left: 80px;
  }
  nav ul ul ul li {
    position: static;
  }
  [id^="btn"]:checked + ul {
    display: block;
  }
  nav ul ul li {
    border-bottom: 0px;
  }
  span.cancel:before {
    content: "\f00d";
  }
}

@media all and (max-width: 419px) {
  nav ul {
    margin-right: 0px;
    float: left;
  }
  nav .logo {
    padding-left: 10px;
    width: 100%;
  }
  .show + a,
  ul {
    display: none;
  }
  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }
  nav ul li a:hover {
    box-shadow: none;
  }
  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover {
    color: cyan;
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0px;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a {
    padding-left: 40px;
  }
  nav ul ul ul a {
    padding-left: 80px;
  }
  nav ul ul ul li {
    position: static;
  }
  [id^="btn"]:checked + ul {
    display: block;
  }
  nav ul ul li {
    border-bottom: 0px;
  }
  span.cancel:before {
    content: "\f00d";
  }
}
@media all and (max-width: 367px) {
  nav ul {
    margin-right: 0px;
    float: left;
  }
  nav .logo {
    padding-left: 30px;
    width: 100%;
  }
  .show + a,
  ul {
    display: none;
  }
  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }
  nav ul li a:hover {
    box-shadow: none;
  }
  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover {
    color: cyan;
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0px;
    right: 10px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a {
    padding-left: 40px;
  }
  nav ul ul ul a {
    padding-left: 80px;
  }
  nav ul ul ul li {
    position: static;
  }
  [id^="btn"]:checked + ul {
    display: block;
  }
  nav ul ul li {
    border-bottom: 0px;
  }
  span.cancel:before {
    content: "\f00d";
  }
}
/*----------END of MENU-----------*/
/*---------START of IMAGE--------*/

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/advance1.png);
  background-color: #f2f0d0;
  background-position: center;
  background-size: cover;
  position: relative;
}

.text-box {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
  color: #fff;
}

.text-box p {
  font-family: "Roboto", sans-serif;
  margin: 10px 0 40px;
  font-size: 14px;
  color: rgb(248, 248, 248);
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  /*border: 1px solid rgb(224, 28, 28);*/
  padding: 12px 34px;
  font-size: 13px;
  background: rgb(62, 69, 170);
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 2px solid rgb(62, 69, 170);
  background: rgb(255, 254, 255);
  transition: 0.5s;
}

nav .fa {
  display: none;
}
/*-----------------------MAIN CONTENT------------------------*/
.intro {
  margin: 0 auto;
  margin-top: 5em;
  margin-bottom: 5em;
  text-align: center;
}
.intro p {
  text-align: center;
  color: #606362;
  width: 60%;
  margin: auto;
  line-height: 1.875em;
  font-size: 1.3em;
  font-weight: 300;
  font-family: "comic-sans", serif;
}
/*hr.top {
  border: 1px solid rgb(62, 69, 170);
  width: 12.5%;
  margin: 0 auto;
  margin-top: 3em;
  border-width: 1px;
}
hr.bottom {
  border: 1px solid rgb(62, 69, 170);
  width: 12.5%;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border-width: 1px;
}*/
#main-content {
  vertical-align: center;
  margin: 0 auto;
}

.main-photo {
  width: 32em;
  height: 1000px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-photo img {
  margin-top: 0px;
  display: flex;
  vertical-align: middle;
  margin: 0 auto;
  width: 32em;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}
.desc h4 {
  color: rgb(54, 58, 110);
  padding-bottom: 10px;
  padding-top: 10px;
}
.boxbox {
  padding-top: 100px;
}
.responsive {
  padding-top: 100px;
  padding-left: 100px;
  float: left;
  width: 24%;
}

/*-------------------TAKE ACTION CSS----------------------*/
.take-action-now {
  /*background-color: #33ffff;*/
  margin-bottom: 0;
}

.take-action-now h2 {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}
.take-action-now img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: 0 auto;
}
.take-action-now p {
  color: rgba(4, 9, 30, 0.7);
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
/*--------------------RECCOMENDATIONS CSS----------------*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.image {
  width: 250px;
  height: 250px;
}
.container {
  position: relative;
  width: 50%;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  font-size: 16px;
  padding: 16px 32px;
}

.reccomendations h2 {
  margin-bottom: 30px;
  margin-left: 15px;
}
.reccomendations .row {
  margin: 0 auto;
}
.carousel-control-prev,
.carousel-control-next a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

#prev,
#next {
  color: lightskyblue;
  font-size: 8em;
}
